.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 2.5rem;   
    .portfolio_item{
        background: var(--color-bg-variant);
        padding: 1.4rem;
        border-radius: 2rem;
        border: 1px solid transparent;
        transition: var(--transition);
        &:hover{
            border-color: var(--color-primary-variant);
            background: transparent;
        }
        img{
            border-radius: 1rem 1rem 0 0;
            // padding-bottom: 1rem;
        }
        h3{
            color: var(--color-primary);
            margin: 1rem 0;
        }  
        .githubb{
            margin: 0 1rem 1rem 0;
        }
    }
}

// Large medium
@media screen and (max-width:1170px) {
    .portfolio_container{
        width: 95%;
    }
}

// Media medium
@media screen and (max-width:1024px) {
    .portfolio_container{
        grid-template-columns: repeat(2,1fr);
        width: var(--container-width-md);
    }
}
// small-medium medium
@media screen and (max-width:760px) {
    .portfolio_container{
        width: 95%;
    }
}

// Small medium
@media screen and (max-width:660px) {
    .portfolio_container{
        grid-template-columns: 1fr;
        width: var(--container-width-lg);
    }
}