.about_section{
    padding-top: 5rem;
}
.about_container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    .about_me{
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 2rem;
        display: grid;
        place-items: center;
        background: linear-gradient(45deg,transparent,var(--color-primary),transparent);
        img{
            transform: rotate(10deg);
            overflow: hidden;
            border-radius: 2rem;
            transition: var(--transition);
            &:hover{
                transform: rotate(0deg);
            }
        }
    }
    
    .about_cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1.5rem;
        .about_card{
            text-align: center;
            padding: 2rem;
            border: 1px solid transparent;
            background: var(--color-bg-variant);
            transition: var(--transition);
            border-radius: 1rem;
            &:hover{
                background: transparent;
                border-color: var(--color-primary-variant);
                // cursor: default;
            }
            .about_card_icon{
                font-size: 1.4rem;
                color: var(--color-primary);
            }
            h5{
                font-size: 1rem;
                color: var(--color-white);
            }
            small{
                font-size: .7rem;
                color: var(--color-light);
            }
        }
    }
    p{
        margin: 2rem 0;
        font-size: .9rem;
        color: var(--color-light);
    }
}

// Media medium
@media screen and (max-width:1024px) {
    .about_section{
        padding-top: 18rem;
    }
    .about_container{
        grid-template-columns: 1fr;
        gap: 0;
        .about_me{
            width: 50%;
            margin: 2rem auto 4rem;
        }
    }
}
// small-medium medium
@media screen and (max-width:768px){
    .about_content{
        text-align: center;
    } 
}

// Small medium
@media screen and (max-width:600px) {
    .about_section{
        padding-top: 6rem;
    }
    .about_me{
        width: 65% !important;
        margin: 0 auto 2rem;
    }
    .about_cards{
        grid-template-columns: repeat(2,1fr) !important;    
    }   
}