.history_container{
    width: 38rem;
    .history_item{
        background-color: var(--color-bg-variant);
        padding: 2rem;
        border-radius: 2rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        img{
            width: 10rem;
            margin: auto 0;
        }
        h5{
            text-align: left;
            font-size: .9rem;
        }
        .period{
            color: var(--color-primary);
            font-weight: bold;
        }
    }
}

@media screen and (max-width:760px){
    .history_container{
        width: 85%;
    }
}

@media screen and (max-width:600px){
    .history_container{
        width: 85%;
        .history_item{
            grid-template-columns: 1fr;
        }
    }
}